---
import Layout from "@/layouts/Layout.astro";
import { SITE_NAME, SITE_DESCR } from "@/const.js";
---

<Layout>
	<section class="banner relative pb-[56.25%] max-[400px]:pb-[70%]">
		<div class="absolute inset-0">
			<div class="swiper banner-slider h-full text-white">
				<div class="swiper-wrapper">
					<div class="swiper-slide banner-slide" data-swiper-autoplay="14000">
						<div class="absolute inset-0 bg-black/50 z-[1]"></div>
						<div class="container h-full relative z-[2]">
							<div class="h-full flex flex-col justify-center max-w-3xl">
								<h2
									class="text-lg sm:text-3xl md:text-4xl lg:text-5xl uppercase font-bold"
									data-swiper-parallax="-20%"
								>
									{ SITE_DESCR }
								</h2>
								<p
									data-swiper-parallax="-40%"
									class="text-xs sm:text-xl md:text-2xl mt-3 sm:mt-5 mb-4 sm:mb-10"
								></p>
								<div data-swiper-parallax="-55%">
									<a
										class="popup-link btn white btn-o text-xs sm:text-base !py-1 sm:!py-3"
										href="#common-modal"
										data-title="Узнать подробнее"
										data-form_name="Узнать подробнее. Новые автомобили по цене заводов изготовителей. Баннер"
									>
										Узнать подробнее
									</a>
								</div>
							</div>
						</div>
						<video
							autoplay
							muted
							loop
							poster="/img/banner.jpg"
							class="absolute inset-0 h-full w-full object-cover"
						>
							<source src="https://alexsab.ru/video/baic.mp4" type="video/mp4" />
						</video>
					</div>
				</div>

				<div class="swiper-pagination banner-pagination"></div>

				<div class="autoplay-progress">
					<svg viewBox="0 0 48 48">
						<circle cx="24" cy="24" r="20"></circle>
					</svg>
					<span></span>
				</div>

				<div class="swiper-button-prev banner-button-prev !hidden md:!flex"></div>
				<div class="swiper-button-next banner-button-next !hidden md:!flex"></div>
			</div>
		</div>
	</section>
</Layout>
