---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TITLE">
<div class="container pt-10">
    <h1 class="text-red-500 uppercase text-4xl text-center">kuzovsamara.ru</h1>
</div>
</Layout>

<style></style>
