---
import Layout from '@/layouts/Layout.astro';
const title = 'КУЗОВ ЭКСПЕРТ';
const descr = 'Первый официальный кузовной по автомобилям из Китая'
---

<Layout>
<div class="container pt-10">
    <h1 class="text-red-500 uppercase text-4xl text-center">{ title }</h1>
</div>
</Layout>

<style></style>
