---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Политика конфиденциальности">
    <section class="my-20">
        <div class="container">
            <h1 class="font-extrabold text-2xl sm:text-5xl mb-10">Политика конфиденциальности</h1>
            <div class="content">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius reiciendis numquam repellat nihil. Maxime deserunt debitis fuga. Aspernatur laborum, enim maiores in quisquam molestias ducimus magnam saepe dignissimos recusandae quasi!</p>
            </div>
        </div>
    </section>
</Layout>