---
import BannerItem from '@/components/BannerItem.astro';
const res = await fetch("https://jetour-alpha.diywebdev.ru/wp-json/wp/v2/banner?_embed")
const banners = await res.json()
// import banners from '@/data/banners.json'
---

<div class="banner relative max-lg:pt-20 pb-[56.25%] max-[400px]:pb-[75%]">
	<div class="absolute inset-0">
		<div class="swiper banner-slider h-full text-white">
			<div class="swiper-wrapper">
				{
					banners.map(b => (
					// <BannerItem banner={banner}/>
						<BannerItem banner={ {
							"id": b.id,
							"type": "",
							"videoUrl": "",
							"imageUrl": b._embedded['wp:featuredmedia']['0'].media_details.sizes.full.source_url,
							"title": b.title.rendered,
							"descr": b.content.rendered,
							"btn": b.meta.textBtn,
							"btnUrl": b.meta.urlBtn,
							"dataTitle": b.title.rendered,
							"dataFormName": b.title.rendered+". Баннер",
							"autoplay": 6000
						} }/>
					))
				}
			</div>

			<div class="swiper-pagination banner-pagination"></div>

			<div class="autoplay-progress">
				<svg viewBox="0 0 48 48">
					<circle cx="24" cy="24" r="20"></circle>
				</svg>
				<span></span>
			</div>

			<div class="swiper-button-prev banner-button-prev !hidden md:!flex"></div>
			<div class="swiper-button-next banner-button-next !hidden md:!flex"></div>
		</div>
	</div>
</div>