<footer class="bg-black text-white py-8">
    <div class="container">
        <div class="flex justify-center">
            <a class="disclamer_switch switch text-white underline transition hover:no-underline" href="#" target="_blank"
                >Подробные условия акций</a
            >
        </div>
        <div class="disclamer text-sm hidden">
            <p class="my-10"><sup>*</sup> Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам автосалона.</p>
        </div>
    </div>
</footer>