---
import { SITE_NAME } from '@/const.js';
---

<header class="sticky md:fixed w-full top-0 left-0 bg-white/90 z-30">
	<div class="container">
		<div class="flex items-center justify-between py-4">
			<div class="flex flex-nowrap items-center gap-3 divide-x divide-black/20">
				<div class="text-2xl uppercase w-min font-mono font-medium !leading-none">{ SITE_NAME }</div>
				<div class="px-3 grid grid-cols-2 items-center gap-y-1 gap-x-2">
					<img src="./img/logos/exeed.svg" class="h-2 w-auto" title="Exeed" alt="exeed">
					<img src="./img/logos/geely.svg" class="h-4 w-auto" title="Geely" alt="geely">
					<img src="./img/logos/omoda.svg" class="h-2 w-auto" title="Omoda" alt="omoda">
					<img src="./img/logos/chery.svg" class="h-4 w-auto" title="Chery" alt="chery">
					<img src="./img/logos/jaecoo.svg" class="h-2 w-auto invert" title="Jaecoo" alt="jaecoo">
					<img src="./img/logos/gac.svg" class="h-4 w-auto" title="Gac" alt="gac">
				</div>
			</div>
			<div class="flex items-center gap-8">
				<div class="flex flex-col">
					<a href="tel:+78463210000" class="font-extrabold text-black/80 text-base md:text-lg" title="ул. Демократическая, 55">8 (846) 321-00-00</a>
					<a href="tel:+78463210909" class="font-extrabold text-black/80 text-base md:text-lg" title="Южное шоссе, 12, стр. 3">8 (846) 321-09-09</a>
				</div>
				<div>
					<a href="#" class="underline">Адреса салонов</a>
					<small class="block text-xs">2 салона</small>
				</div>
				<a 
					class="popup-link btn"
					href="#common-modal"
					data-title="Заказать звонок"
					data-form_name="Заказ звонка. Шапка"
				>
					Заказать звонок
				</a>
			</div>
		</div>
	</div>
</header>