---
import Select from '@/components/Select.astro';
const options = ['ул. Демократическая, 55', 'Южное шоссе, 12, стр. 3'];
import Button from '@/components/Button.astro';
import Input from '@/components/Input.astro';
import Checkbox from '@/components/Checkbox.astro';
const label = '<span>Я согласен на</span><a href="/privacy-policy" class="underline transition-all hover:no-underline" target="_blank">обработку персональных данных</a>'
---

<section class="section text-white z-[1]" style="background-image: url('img/online-bg.jpg');" id="online-calc">
	<div class="absolute inset-0 bg-sky-900/90 z-[-1]"></div>
	<div class="container">
		<h2 class="text-center mb-8">Онлайн расчет</h2>
		<p class="uppercase text-xl text-center mb-10">От локальной покраски до кузовных работ</p>
		<form class="max-w-2xl w-full mx-auto">
			<input type="hidden" name="form" value="Онлайн расчет">
			<input type="email" tabindex="-1" name="email" class="h-0 opacity-0 absolute -z-[100]" placeholder="mail@example.com">
			<div class="grid grid-cols-1 min-[600px]:grid-cols-2 gap-5">

				<Input name="name" classes='border-transparent' placeholder="Ваше имя" />
				<Input type="tel" name="phone" classes='border-transparent' placeholder="+7 (999) 999-99-99*" required errorClasses='text-yellow-300' />				
				<Select name="salon" placeholder="Выберите салон" options={options} />
				<Input name="vin" classes='border-transparent' placeholder="VIN" />

				<div class="min-[600px]:col-span-2">
					<div class="dropzone file-upload p-5 bg-white border-2 border-black border-dashed focus:border-accent-500 h-auto cursor-pointer text-black" tabindex="-1"></div>
					<div class="error-message text-yellow-300 hidden">ERROR</div>
					<div class="success-message text-green-300 hidden">SUCCESS</div>
				</div>
				<div class="min-[600px]:col-span-2">
					<Checkbox name='agree' label={label} required errorClasses='text-yellow-300 w-full' />
					<input type="checkbox" name="subscribe" class="absolute w-0 h-0 opacity-0 invisible">
					<Button view="form-button" classes="white" title="Отправить" />
				</div>
			</div>
		</form>
	</div>
</section>